<div class="login">
    <div class="container-fluid min-vh-100 d-flex justify-content-center">
        <div class="row justify-content-center align-items-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Login</h4>
                    <form>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input id="username" type="text" placeholder="Username" pInputText />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <p-password formControlName="password" placeholder="Password" [toggleMask]="true"
                                [feedback]="false">
                            </p-password>
                        </div>
                        <a routerLink="/admin-dashboard"><button type="submit" class="btn btn-primary">Submit</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>