<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div
        class="col-12 col-lg-8 col-xl-9 col-sm-8 mb-5 mb-lg-4 mb-xl-3 stretch-card transparent">
        
      </div>
        <div
          class="col-12 col-lg-4 col-xl-3 col-sm-4 mb-5 mb-lg-4 mb-xl-3 stretch-card transparent"
        >
          <div class="card card-tale">
            <div class="card-body">
              <h3 class="mb-4"><b>Total Transactions In</b></h3>
              <p class="fs-50 mb-4 text-center">
                <b>{{totalData}}</b>
              </p>
              <p class="text-center">Transactions in this application</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 stretch-card transparent">
          <div class="card">
            <div class="card-body">
              <div class="card-title pt-3">
                <h2 class="text-center"><b>List Transactions In</b></h2>
              </div>
              <div class="container-fluid col-10">
                <div class="row justify-content-end">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    class="p-button-sm p-button-success"
                  ></button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-10">
                <p-table
                  #dt
                  [value]="data.getTransactionsInDataDto"
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="[
                              'storeName',
                              'invoicesCode',
                            ]"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [showCurrentPageReport]="true"
                >
                  <ng-template pTemplate="caption">
                    <div class="row">
                      <div class="col-5">
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input
                            type="text"
                            pInputText
                            (input)="
                              dt.filterGlobal(
                                $any($event.target).value,
                                'contains'
                              )
                            "
                            placeholder="Search"
                          />
                        </span>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr class="text-center">
                      <th style="width: 3rem;">
                        No
                      </th>
                      <th pSortableColumn="invoicesCode">
                        Transaction Code
                        <p-sortIcon field="invoicesCode"></p-sortIcon>
                      </th>
                      <th pSortableColumn="invoicesDate">
                        Transaction Date
                        <p-sortIcon field="invoicesDate"></p-sortIcon>
                      </th>
                      <th class="text-center">
                        Active
                      </th>
                      <th class="text-center">
                        Action
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-tin let-rowIndex="rowIndex">
                    <tr>
                      <td>
                        {{ rowIndex + 1 }}
                      </td>
                      <td>{{ tin.transactionsInCode }}</td>
                      <td>{{ tin.transactionsInDate }}</td>
                      <td class="text-center">
                        <input
                          style="margin: -8px 0 0 -5px;"
                          type="checkbox"
                          class="form-check-input"
                          disabled
                          [checked]="tin.isActive"
                        />
                      </td>
                      <td class="text-center">
                        <button
                          pButton
                          pRipple
                          icon="pi pi-pencil"
                          class="p-button-sm p-button-warning mx-2"
                        ></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>