<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 stretch-card transparent">
          <div class="card">
            <div class="card-body">
              <div class="card-title pt-3">
                <h2 class="text-center"><b>List Companies</b></h2>
              </div>
              <div class="container-fluid col-10">
                <div class="row justify-content-end">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    label="New"
                    class="p-button-sm p-button-success"
                    (click)="gotoInsert()"
                  ></button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-11">
                <p-table
                  #dt
                  [value]="data"
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="[
                              'companiesCode',
                              'companiesName',
                              'companiesPhone',
                              'companiesAddress',
                            ]"
                  [rowHover]="true"
                  dataKey="id"
                  responsiveLayout="scroll"
                  currentPageReportTemplate="{first} of {totalRecords}"
                  [showCurrentPageReport]="true"
                >
                  <ng-template pTemplate="caption">
                    <div class="row">
                      <div class="col-5">
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input
                            type="text"
                            pInputText
                            (input)="
                              dt.filterGlobal(
                                $any($event.target).value,
                                'contains'
                              )
                            "
                            placeholder="Search"
                          />
                        </span>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr class="text-center">
                      <th style="width: 3rem;">
                        No
                      </th>
                      <th class="text-center">
                        Logo
                      </th>
                      <th pSortableColumn="companiesCode">
                        Code
                        <p-sortIcon field="companiesCode"></p-sortIcon>
                      </th>
                      <th pSortableColumn="companiesName">
                        Name
                        <p-sortIcon field="companiesName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="companiesPhone">
                        Phone
                        <p-sortIcon field="companiesPhone"></p-sortIcon>
                      </th>
                      <th pSortableColumn="companiesAddress">
                        Address
                        <p-sortIcon field="companiesAddress"></p-sortIcon>
                      </th>
                      <th class="text-center">
                        Action
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-c let-rowIndex="rowIndex">
                    <tr>
                      <td>
                        {{ rowIndex + 1 }}
                      </td>
                      <td><img src="data:image/png;base64,{{c.files.file}}" [hidden]="showImg" width="50" height="50"></td>
                      <td>{{ c.companiesCode }}</td>
                      <td>{{ c.companiesName }}</td>
                      <td>{{ c.companiesPhone }}</td>
                      <td>{{ c.companiesAddress }}</td>
                      <td class="text-center" style="width:10rem">
                        <button
                          pButton
                          pRipple
                          icon="pi pi-pencil"
                          class="p-button-sm p-button-warning mx-2"
                          (click)="gotoUpdate(c.companiesCode)"
                        ></button>
                        <button
                          pButton
                          pRipple
                          icon="pi pi-trash"
                          class="p-button-sm p-button-danger"
                          (click)="confirm(c.id)"
                        ></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>