<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div
        class="col-12 col-md-9 mb-5 mb-md-4 stretch-card transparent"
      > 
      <div class="card">
        <div class="card-body">
          <div class="card-title pt-3">
            <h2 class="text-center"><b>List Roles</b></h2>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <p-table
                #dt
                [value]="data"
                [globalFilterFields]="[
                            'rolesCode',
                            'rolesName',
                          ]"
                [rowHover]="true"
                dataKey="id"
              >
                <ng-template pTemplate="header">
                  <tr class="text-center">
                    <th style="width: 3rem;">
                      No
                    </th>
                    <th pSortableColumn="rolesCode">
                      Roles Code
                      <p-sortIcon field="rolesCode"></p-sortIcon>
                    </th>
                    <th pSortableColumn="rolesName">
                      Roles Name
                      <p-sortIcon field="rolesName"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-d let-rowIndex="rowIndex">
                  <tr>
                    <td class="tex-center">
                      {{ rowIndex + 1 }}
                    </td>
                    <td class="tex-center">{{ d.rolesCode }}</td>
                    <td class="tex-center">{{ d.rolesName }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      </div>
        <div
          class="col-12 col-md-3 mb-5 mb-md-4  transparent"
        >
          <div class="card card-tale">
            <div class="card-body">
              <h3 class="mb-4"><b>Total Roles</b></h3>
              <p class="fs-50 mb-4 text-center">
                <b>{{totalData}}</b>
              </p>
              <p class="text-center">Roles in this application</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 stretch-card transparent">
          <div class="card">
            <div class="card-body">
              <div class="card-title pt-3">
                <h2 class="text-center"><b>Permission Roles</b></h2>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-10">
                <p-table
                  #dt
                  [value]="permissionRolesData"
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="[
                              'roles.rolesName',
                              'permissions.permissionsName',
                            ]"
                  [rowHover]="true"
                  dataKey="id"
                  [showCurrentPageReport]="true"
                >
                  <ng-template pTemplate="header">
                    <tr class="text-center">
                      <th style="width: 3rem;">
                        No
                      </th>
                      <th pSortableColumn="roles.rolesName">
                        Roles Name
                        <p-sortIcon field="roles.rolesName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="permissions.permissionsName">
                        Permission Name
                        <p-sortIcon field="permissions.permissionsName"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-p let-rowIndex="rowIndex">
                    <tr>
                      <td>
                        {{ rowIndex + 1 }}
                      </td>
                      <td>{{ p.roles.rolesName }}</td>
                      <td>{{ p.permissions.permissionsName }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>