<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 stretch-card transparent">
          <div class="card">
            <div class="card-body">
              <div class="card-title pt-3">
                <h2 class="text-center"><b>List Transactions Details Out</b></h2>
              </div>
              <div class="container-fluid col-10">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-10">
                <p-table
                  #dt
                  [value]="data.getTransactionsDetailsOutDataDto"
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="[
                              'locationsCode',
                              'employeesCode',
                              'assetsName',
                              'expiredDate',
                            ]"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [showCurrentPageReport]="true"
                >
                  <ng-template pTemplate="caption">
                    <div class="row">
                      <div class="col-5">
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input
                            type="text"
                            pInputText
                            (input)="
                              dt.filterGlobal(
                                $any($event.target).value,
                                'contains'
                              )
                            "
                            placeholder="Search"
                          />
                        </span>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr class="text-center">
                      <th style="width: 3rem;">
                        No
                      </th>
                      <th pSortableColumn="assetsName">
                        Assets Name
                        <p-sortIcon field="assetsName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="locationsCode">
                        Locations Code
                        <p-sortIcon field="locationsCode"></p-sortIcon>
                      </th>
                      <th pSortableColumn="employeesCode">
                        Employees Code
                        <p-sortIcon field="employeesCode"></p-sortIcon>
                      </th>
                      <th pSortableColumn="assetsGeneralName">
                        Assets General Name
                        <p-sortIcon field="assetsGeneralName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="expiredDate">
                        Expired Date
                        <p-sortIcon field="expiredDate"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-tdout let-rowIndex="rowIndex">
                    <tr>
                      <td>
                        {{ rowIndex + 1 }}
                      </td>
                      <td>{{ tdout.assetsName }}</td>
                      <td>{{ tdout.locationsCode }}</td>
                      <td>{{ tdout.employeesCode }}</td>
                      <td>{{ tdout.assetsGeneralName }}</td>
                      <td>{{ tdout.expiredDate }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>