<div class="lds-default" *ngIf="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-md-8 mb-5 mb-lg-4 mb-xl-3">
        <h3 class="font-weight-bold">
          Welcome,
          <b>{{employee!.employeesFullname}}</b>
        </h3>
      </div>
      <div class="col-12 col-xl-4">
        <div class="justify-content-end d-flex"></div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 col-md-3 col-sm-6 mb-5 mb-lg-3 stretch-card transparent"
      >
        <div class="card card-tale">
          <div class="card-body">
            <h5 class="mb-4">Borrowed</h5>
            <p class="fs-30 mb-3 text-center">
              <b>{{ totalBorrowed }}</b>
            </p>
            <p class="text-right">total assets was borrowed</p>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-3 col-sm-6 mb-5 mb-lg-3 stretch-card transparent"
      >
        <div class="card card-blue">
          <div class="card-body">
            <h5 class="mb-4">Total Assets</h5>
            <p class="fs-30 mb-3 text-center">
              <b>{{ totalAsset }}</b>
            </p>
            <p class="text-right">total assets</p>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-3 col-sm-6 mb-5 mb-lg-3 stretch-card transparent"
      >
        <div class="card card-light-blue">
          <div class="card-body">
            <h5 class="mb-4">Total Item</h5>
            <p class="fs-30 mb-3 text-center">
              <b>{{ totalItem }}</b>
            </p>
            <p class="text-right">total items</p>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-3 col-sm-6 mb-5 mb-lg-4 mb-xl-3 stretch-card transparent"
      >
        <div class="card card-orange">
          <div class="card-body">
            <h5 class="mb-4">Total Employee</h5>
            <p class="fs-30 mb-3 text-center">
              <b>{{ totalEmployee }}</b>
            </p>
            <p class="text-right">total employees</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <p class="fs-30 mb-4 text-center mt-md-3 mt-2"><b>List Borrowed Assets</b></p>
              <div class="container-fluid col-10">
                <div class="row justify-content-end">
                  <a routerLink="/admin/transactions-out" class="text-right"><p>view all</p></a>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12">
                <p-table
                  #dt
                  [value]="data.data"
                  [rows]="5"
                  [rowHover]="true"
                  dataKey="id"
                >
                  <ng-template pTemplate="header">
                    <tr class="text-center">
                      <th style="width: 3rem;">
                        No
                      </th>
                      <th  style="width:10rem">
                        Image
                      </th>
                      <th pSortableColumn="assetsName">
                        Assets Name
                        <p-sortIcon field="assetsName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="itemsName">
                        Item
                        <p-sortIcon field="itemsName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="statusesAssetsName">
                        Status Assets
                        <p-sortIcon field="statusesAssetsName"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-d
                    let-rowIndex="rowIndex"
                  >
                    <tr>
                      <td>{{ rowIndex + 1 }}</td>
                      <td><img class="items-img" src="data:image/png;base64,{{d.files?.file}}"
                        alt="img{{rowIndex+1}}" style="width:100px !important"></td>
                      <td>{{ d.assetsName }}</td>
                      <td>{{ d.itemsName }}</td>
                      <td>{{ d.statusesAssetsName }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
