<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-5 mb-lg-4 mb-xl-3">
        <h3 class="font-weight-bold">
          Welcome,
          <b>Admin</b>
        </h3>
      </div>
      <div class="col-12 col-xl-4">
        <div class="justify-content-end d-flex"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-3 col-sm-6 mb-5 mb-lg-4 mb-xl-3">
        <div class="card card-tale">
          <div class="card-body">
            <p class="fs-30 mb-5">Borrowed</p>
            <p class="fs-50 mb-3 text-center"><b>{{totalBorrowed}}</b></p>
            <p class="text-right">total assets was borrowed</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-3 col-sm-6 mb-5 mb-lg-4 mb-xl-3">
        <div class="card card-blue">
          <div class="card-body">
            <p class="fs-30 mb-4">Total Assets</p>
            <p class></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-3 col-sm-6 mb-5 mb-lg-4 mb-xl-3">
        <div class="card">
          <div class="card-body">
            <h4>total item</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-3 col-sm-6 mb-5 mb-lg-4 mb-xl-3">
        <div class="card">
          <div class="card-body">
            <h4>total employee</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-6 mb-5 mb-lg-4 mb-xl-3">
        <div class="card">
          <div class="card-body p-2">
            <h2>New Employee</h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-6 mb-5 mb-lg-4 mb-xl-3">
        <div class="card">
          <div class="card-body p-2">
            <h2>New Items</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-5 mb-lg-4 mb-xl-3">
        <div class="card">
          <div class="card-body">
            <h1>list borrowed</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
