<div class="container-scroller">
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div
      class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
    >
      <a class="navbar-brand brand-logo mr-5" href="index.html">
        <img src="../../../assets/img/logo.svg" class="mr-2" alt="logo" />
      </a>
      <a class="navbar-brand brand-logo-mini" href="index.html">
        <img src="../../../assets/img/logo-mini.svg" alt="logo" />
      </a>
    </div>
    <div
      class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
    >
      <button
        class="navbar-toggler navbar-toggler align-self-center"
        type="button"
        (click)="toggleClick()"
      >
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-toggle="dropdown"
            id="profileDropdown"
          >
            <img src="images/faces/face28.jpg" alt="profile" />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right navbar-dropdown"
            aria-labelledby="profileDropdown"
          >
            <a class="dropdown-item" >
              <i class="ti-settings text-primary"></i>
              Profiles
            </a>
            <a class="dropdown-item">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
      <button
        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
        type="button"
        (click)="showSidebar()"
      >
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas sidebar-fixed" id="sidebar">
      <ul class="nav">
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
        >
          <a class="nav-link" routerLink="/admin-dashboard">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
        >
          <a class="nav-link" routerLink="/admin-dashboard">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Assets</span>
          </a>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
        >
          <a
            href="#transaction"
            class="nav-link"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="transaction"
          >
            <i class="icon-paper-stack menu-icon"></i>
            <span class="menu-title">Transaction</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="transaction">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/transactions-out">
                  Borrowed
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/transactions-in">
                  Returned
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
