<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 stretch-card transparent">
          <div class="card">
            <div class="card-body">
              <div class="card-title pt-3">
                <h2 class="text-center"><b>List Employees</b></h2>
              </div>
              <div class="container-fluid col-10">
                <div class="row justify-content-end">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    class="p-button-sm p-button-success"
                    (click)="gotoInsert()"
                  ></button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-11">
                <p-table
                  #dt
                  [value]="data"
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="[
                              'employeesFullname',
                              'employeesCode',
                              'employeesAddress',
                              'employeesPhoneNumber',
                              'users.usersEmail',
                              'companies.companiesName'
                            ]"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [showCurrentPageReport]="true"
                >
                  <ng-template pTemplate="caption">
                    <div class="row">
                      <div class="col-5">
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input
                            type="text"
                            pInputText
                            (input)="
                              dt.filterGlobal(
                                $any($event.target).value,
                                'contains'
                              )
                            "
                            placeholder="Search"
                          />
                        </span>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr class="text-center">
                      <th style="width: 3rem;">
                        No
                      </th>
                      <th pSortableColumn="employeesFullname">
                        Name
                        <p-sortIcon field="employeesFullname"></p-sortIcon>
                      </th>
                      <th pSortableColumn="employeesCode">
                        Code
                        <p-sortIcon field="employeesCode"></p-sortIcon>
                      </th>
                      <th pSortableColumn="users.usersEmail">
                        Email
                        <p-sortIcon field="users.usersEmail"></p-sortIcon>
                      </th>
                      <th pSortableColumn="companies.companiesName">
                        Company
                        <p-sortIcon field="companies.companiesName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="employeesAddress">
                        Address
                        <p-sortIcon field="employeesAddress"></p-sortIcon>
                      </th>
                      <th pSortableColumn="employeesPhoneNumber">
                        Phone
                        <p-sortIcon field="employeesPhoneNumber"></p-sortIcon>
                      </th>
                      <th class="text-center">
                        Action
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-d let-rowIndex="rowIndex">
                    <tr>
                      <td>
                        {{ rowIndex + 1 }}
                      </td>
                      <td>{{ d.employeesFullname }}</td>
                      <td>{{ d.employeesCode }}</td>
                      <td>{{ d.users.usersEmail }}</td>
                      <td>{{ d.companies.companiesName }}</td>
                      <td>{{ d.employeesAddress }}</td>
                      <td>{{ d.employeesPhoneNumber }}</td>
                      <td class="text-center">
                        <button
                          pButton
                          pRipple
                          icon="pi pi-pencil"
                          class="p-button-sm p-button-warning mx-2"
                          (click)="gotoUpdate(d.employeesCode)"
                        ></button>
                        <button
                          pButton
                          pRipple
                          icon="pi pi-trash"
                          class="p-button-sm p-button-danger"
                          (click)="delete(d.id)"
                        ></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  