<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 stretch-card transparent">
          <div class="card">
            <div class="card-body">
              <div class="card-title pt-3">
                <h2 class="text-center"><b>List Invoices</b></h2>
              </div>
              <div class="container-fluid col-10">
                <div class="row justify-content-end">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    label="New"
                    class="p-button-sm p-button-success"
                    (click)="gotoInsert()"
                  ></button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10 col-12">
                <p-table
                  #dt
                  [value]="data"
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="[
                              'storeName',
                              'invoicesCode',
                            ]"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [showCurrentPageReport]="true"
                >
                  <ng-template pTemplate="caption">
                    <div class="row">
                      <div class="col-5">
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input
                            type="text"
                            pInputText
                            (input)="
                              dt.filterGlobal(
                                $any($event.target).value,
                                'contains'
                              )
                            "
                            placeholder="Search"
                          />
                        </span>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr class="text-center">
                      <th style="width: 3rem;">
                        No
                      </th>
                      <th pSortableColumn="invoicesCode">
                        Invoice Code
                        <p-sortIcon field="invoicesCode"></p-sortIcon>
                      </th>
                      <th pSortableColumn="invoicesDate">
                        Invoices Date
                        <p-sortIcon field="invoicesDate"></p-sortIcon>
                      </th>
                      <th pSortableColumn="storeName">
                        Store Name
                        <p-sortIcon field="storeName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="price">
                        Price
                        <p-sortIcon field="price"></p-sortIcon>
                      </th>
                      <th class="text-center" style="width:10rem">
                        Action
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-i let-rowIndex="rowIndex">
                    <tr>
                      <td>
                        {{ rowIndex + 1 }}
                      </td>
                      <td>{{ i.invoicesCode }}</td>
                      <td>{{ i.invoicesDate }}</td>
                      <td>{{ i.storeName }}</td>
                      <td>{{ i.price }}</td>
                      <td class="text-center">
                        <button
                          pButton
                          pRipple
                          icon="pi pi-pencil"
                          class="p-button-rounded p-button-warning mx-2"
                          (click)="gotoUpdate(i.invoicesCode)"
                        ></button>
                        <button
                          pButton
                          pRipple
                          icon="pi pi-trash"
                          class="p-button-rounded p-button-danger"
                          (click)="delete(i.id)"
                        ></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>