<div class="row">
    <div class="col-md-12 grid-margin grid-stretch">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9 col-md-8 col-sm-8 mb-5 mb-lg-4 mb-xl-3 grid-margin stretch-card">
              <div class="card ">
                  <div class="card-body">
                      <p>new invoices here</p>
                  </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 col-md-4 col-sm-4  mb-5 mb-lg-4 mb-xl-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p>this total of invoices</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12 grid-margin stretch-card transparent">
              <div class="card">
                  <div class="card-body">
                      <p class="card-title text-center"><b>Invoices</b></p>
                      <div class="col-12 text-end">
                        <a type="button" class="btn btn-primary text-white decoration-none "
                            routerLink="/roles/new">Add Data</a>
                    </div>
                      <p-table responsiveLayout="stack" [lazy]="true" [value]="data">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>No</th>
                                  <th>Invoices Code</th>
                                  <th>Invoices Date</th>
                                  <th>Store Name</th>
                                  <th>Price</th>
                                  <th>Active</th>
                                  <th>Action</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-in let-i="rowIndex">
                              <tr>
                                  <td>{{i+1}}</td>
                                  <td>{{in.invoicesCode}}</td>
                                  <td>{{in.invoicesDate}}</td>
                                  <td>{{in.storeName}}</td>
                                  <td>{{in.price}}</td>
                                  <td><input disabled class="form-check-input" type="checkbox" value=""
                                    id="flexCheckChecked" [checked]="in.isActive"></td>
                                  <td>
                                      <div class="row">
                                          <button type="button" class="btn btn-danger">Delete</button>
                                          <button type="button" class="btn btn-warning text-white">Update</button>
                                      </div>
                                  </td>
                              </tr>
                          </ng-template>
                      </p-table>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  