<div class="container-scroller">
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div
      class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
    >
      <a class="navbar-brand brand-logo mr-5" href="/dashboard" [hidden]="isNonAdmin">
        <img src="../../../assets/img/logo.svg" class="mr-2" alt="logo" />
      </a>
      <a class="navbar-brand brand-logo-mini" href="/dashboard" [hidden]="isNonAdmin">
        <img src="../../../assets/img/logo-mini.svg" alt="logo" />
      </a>
      <a class="navbar-brand brand-logo mr-5" href="/admin-dashboard" [hidden]="isAdmin">
        <img src="../../../assets/img/logo.svg" class="mr-2" alt="logo" />
      </a>
      <a class="navbar-brand brand-logo-mini" href="/admin-dashboard" [hidden]="isAdmin">
        <img src="../../../assets/img/logo-mini.svg" alt="logo" />
      </a>
    </div>
    <div
      class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
    >
      <button
        class="navbar-toggler navbar-toggler align-self-center"
        type="button"
        (click)="toggleClick()"
      >
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-toggle="dropdown"
            id="profileDropdown"
          >
            <i class="ti-user"></i>
            {{ employee!.employeesFullname }}
          </a>
          <div
            class="dropdown-menu dropdown-menu-right navbar-dropdown"
            aria-labelledby="profileDropdown"
          >
            <a class="dropdown-item" routerLink="/profiles">
              <i class="ti-user text-primary"></i>
              Profiles
            </a>
            <a class="dropdown-item" (click)="logout()">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
      <button
        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
        type="button"
        (click)="showSidebar()"
      >
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas sidebar-fixed" id="sidebar">
      <ul class="nav">
        <!-- non-admin show -->
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isNonAdmin"
        >
          <a class="nav-link" routerLink="/dashboard">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isNonAdmin"
        >
          <a class="nav-link" routerLink="/dashboard">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Assets</span>
          </a>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isNonAdmin"
        >
          <a
            href="#transaction"
            class="nav-link"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="transaction"
          >
            <i class="icon-paper-stack menu-icon"></i>
            <span class="menu-title">Transaction</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="transaction">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="/non-admin/transactions-out">
                  Borrowed
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/non-admin/transactions-in">
                  Returned
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- adminshow -->
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isAdmin"
        >
          <a class="nav-link" routerLink="/admin-dashboard">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>

        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isAdmin"
        >
          <a
            class="nav-link"
            data-toggle="collapse"
            routerLink="/admin/companies"
            aria-expanded="false"
            aria-controls="ui-basic"
          >
            <i class="ti-home menu-icon"></i>
            <span class="menu-title">Company</span>
          </a>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isAdmin"
        >
          <a
            class="nav-link"
            data-toggle="collapse"
            routerLink="/admin/locations"
          >
            <i class="icon-location menu-icon"></i>
            <span class="menu-title">Location</span>
          </a>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isAdmin"
        >
          <a
            class="nav-link"
            data-toggle="collapse"
            href="#office-employee"
            aria-expanded="false"
            aria-controls="office-employee"
          >
            <i class="ti-id-badge menu-icon"></i>
            <span class="menu-title">Office Employee</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="office-employee">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" href="/admin/employees">
                  Employee
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/user">
                  User
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/roles">
                  Roles
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isAdmin"
        >
          <a
            href="#items"
            class="nav-link"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="items"
          >
            <i class="icon-box menu-icon"></i>
            <span class="menu-title">Items</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="items">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/items">
                  Item
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/items-types">
                  Item Type
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/items-brands">
                  Item Brand
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isAdmin"
        >
          <a
            href="#assets"
            class="nav-link"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="assets"
          >
            <i class="ti-package menu-icon"></i>
            <span class="menu-title">Assets</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="assets">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/assets">
                  Asset
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/statuses-assets">
                  Status Asset
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isAdmin"
        >
          <a class="nav-link" routerLink="/admin/invoices">
            <i class="ti-notepad menu-icon"></i>
            <span class="menu-title">Invoices</span>
          </a>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isAdmin"
        >
          <a
            href="#transaction"
            class="nav-link"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="transaction"
          >
            <i class="icon-paper-stack menu-icon"></i>
            <span class="menu-title">Transaction</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="transaction">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/transactions-out">
                  Borrowed
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/transactions-in">
                  Returned
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li
          class="nav-item"
          (mouseenter)="inHover($event.target)"
          (mouseleave)="outHover($event.target)"
          [hidden]="isAdmin"
        >
          <a class="nav-link" routerLink="admin/reports">
            <i class="ti-folder menu-icon"></i>
            <span class="menu-title">Report</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="main-panel">
      <div class="content-wrapper">
        <!-- <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
