<div class="row">
  <div
    class="col-12 col-xl-8 col-lg-8 col-md-8 grid-margin stretch-card transparent"
  >
    <div class="card">
      <div class="card-body">
          <div class="card-title">
              <h5 class="text-center"><b>Assets</b></h5>
          </div>
          <p class="text-right"><a href="">view all</a></p>
        <p-table
          [value]="getAllAssets"
          sortField="representative.name"
          sortMode="single"
          row="5"
          [scrollable]="true"
          scrollHeight="250px"
          rowGroupMode="subheader"
          groupRowsBy="representative.name"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Assets Name</th>
              <th>Statuses</th>
              <th>In Out</th>
              <th>Expired</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="groupheader" let-d>
            <tr pRowGroupHeader>
              <td colspan="4">
                <span class="p-text-bold p-ml-2">{{ d.itemsName }}</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-d let-rowIndex="rowIndex">
            <tr>
              <td>
                {{ d.assetsName }}
              </td>
              <td>
                {{ d.statusesAssetsName }}
              </td>
              <td>
                {{ d.statusesInOutName }}
              </td>
              <td>
                {{ d.assetsExpired }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
            <h3>List Item was Borrowed by customer</h3>
        </div>
      </div>
    </div>
  </div>
</div>
