<nav class="navbar fixed-top navbar-expand-md navbar-dark p-md-3">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./../../../assets/logoLMS.svg" alt="lms">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Success Stories</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">The AH Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="banner-image w-100 d-flex justify-content-start align-items-center">
    <div class="content text-left mx-0 mx-md-5 col-md-7 col-12 text-md-start text-sm-center">
      <h1 class="mx-5 overflow-hidden">
        <strong>Welcome to LMS</strong>
      </h1>
      <p class="mx-5">
        <light>Lawencon-Assets Management System is a Assets Management System managed by PT. Lawencon International</light>
      </p>
      <a href="#" class="btn btn-redeem mx-5">Learn More</a>
    </div>
  </div>
  </div>


  <div class="container-fluid">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-3 col-12 mx-3 text-center d-flex justify-content-center ">
          <div class="card card-goals py-5">
            <div class="card-body ">
              <img class="icon" src="" alt="">
              <h3 class="card-title"><b>Lorem</b></h6>
                <p class="mx-3 my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12 mx-3 text-center d-flex justify-content-center ">
          <div class="card card-goals py-5">
            <div class="card-body ">
              <img class="icon" src="" alt="">
              <h3 class="card-title"><b>Lorem</b></h6>
                <p class="mx-3 my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12 mx-3 text-center d-flex justify-content-center ">
          <div class="card card-goals py-5">
            <div class="card-body ">
              <img class="icon" src="" alt="">
              <h3 class="card-title"><b> Lorem</b></h6>
                <p class="mx-3 my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-6">
            <h2 class="text-center"><strong>Expert Trainers</strong></h2>
            <h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor
              incididunt.</h5>
          </div>
        </div>
      </div>
      <div class="container my-5">
        <div class="row mx-5 justify-content-center align-items-center">
          <div class="col-md-3 col-12 text-center">
            <div class="card">
              <div class="card-body ">
                <img class="trainer mb-md-3" src="" alt="J">
                <h6>Jessica Samson</h6>
                <img src="" alt="">
                <p>Mass Gains Coach</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-12 text-center">
            <div class="card">
              <div class="card-body ">
                <img class="trainer mb-md-3" src="" alt="">
                <h6>Jack Nicols</h6>
                <img src="" alt="">
                <p>Strength and endurance coach</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-12 text-center">
            <div class="card">
              <div class="card-body ">
                <img class="trainer mb-md-3" src="" alt="">
                <h6>Ross Delaware</h6>
                <img src="" alt="">
                <p>Nutritionist</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-12 text-center">
            <div class="card">
              <div class="card-body ">
                <img class="trainer mb-md-3" src="" alt="">
                <h6>Henry Ford</h6>
                <img src="" alt="">
                <p>Mass Gains Coach</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
