<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-5 mx-5">
                        <h3><b>{{employees?.employeesFullname}}Profile's</b></h3>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12 text-center my-auto">
                            <img class="items-img" src="data:image/png;base64,{{companies?.files?.file}}" style="width:100px">
                            <h5 class="mt-4"><b>{{employees?.companies?.companiesName}}</b></h5>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-12">
                            <div class="row">
                                <br>
                                <div class="col-4 mb-3">
                                    <p>Full Name</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{employees?.employeesFullname}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col-4 mb-3">
                                    <p>Phone Nubmer</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{employees?.employeesPhoneNumber}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col-4 mb-3">
                                    <p>Address</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{employees?.employeesAddress}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                            <div class="row">
                                <div class="col-4 mb-3">
                                    <p>E-mail</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{employees?.users?.usersEmail}}</p>
                                </div>
                                <div class="col-4 mb-3">
                                    <p>Role</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{roles?.rolesName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12 text-center">
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-12">
                            <div class="row">
                                <br>
                                <div class="col-4 mb-3">
                                    <p>Company</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{companies?.companiesName}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col-4 mb-3">
                                    <p>Company Number</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{companies?.companiesPhone}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col-4 mb-3">
                                    <p>Companies Address</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{companies?.companiesAddress}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex mt-5 justify-content-end">
                        <div class="btn-group">
                          <button
                            pButton
                            pRipple
                            type="button"
                            label="Edit"
                            class="p-button-sm p-button-success mx-5 mb-3"
                            style="width:100px"
                            (click)="edit(employees!.id)"
                          ></button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>