<p-toast position="top-right"></p-toast>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-3 col-sm-6 grid-margin stretch-card">
          <div class="card card-blue">
            <div class="card-body">
              <p class="fs-30 mb-4"><b>Asset Ready</b></p>
              <p class="fs-30 text-center">
                <b>{{ readyAssets }}</b>
              </p>
              <p class="text-right mt-4">assets ready to deploy</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 col-sm-6 grid-margin stretch-card">
          <div class="card card-orange">
            <div class="card-body">
              <p class="fs-30 mb-4"><b>Asset Borrowed</b></p>
              <p class="fs-30 text-center">
                <b>{{ borrowedAssets }}</b>
              </p>
              <p class="text-right mt-4">assets was borrowed</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 col-sm-6 grid-margin stretch-card">
          <div class="card card-light-blue">
            <div class="card-body">
              <p class="fs-30 mb-4"><b>Asset Broken</b></p>
              <p class="fs-30 text-center">
                <b>{{ brokenAssets }}</b>
              </p>
              <p class="text-right mt-4">asset was broken not ready</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 col-sm-6 grid-margin stretch-card">
          <div class="card card-dark">
            <div class="card-body">
              <p class="fs-30 mb-4"><b>Asset Loses</b></p>
              <p class="fs-30 text-center">
                <b>{{ loseAssets }}</b>
              </p>
              <p class="text-right mt-4">number of loses asset</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="isNew" [hidden]="!isNew">
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="fs-30 mb-4"><b>New Asset</b></p>
              <div class="row">
                <div class="col-9">
                  <div class="row">
                    <div class="col-md-8 col-12">
                      <div class="row">
                        <div class="col-12">
                          <p>
                            Asset
                            Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{
                              newAssets.data[0].assetsName
                            }}
                          </p>
                        </div>
                        <div class="col-12">
                          <p>
                            Item Name&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{
                              newAssets.data[0].itemsName
                            }}
                          </p>
                        </div>
                        <div class="col-12">
                          <p>
                            Invoices Code&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{
                              newAssets.data[0].invoicesCode
                            }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-12">
                      <div class="row">
                        <div class="col-12">
                          <p>
                            Status&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{
                              newAssets.data[0].statusesAssetsName
                            }}
                          </p>
                        </div>
                        <div class="col-12">
                          <p>
                            In Out&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{
                              newAssets.data[0].statusesInOutName
                            }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="col-12 text-center">
                    <p>
                      <img
                        class="items-img"
                        src="data:image/png;base64,{{
                          newAssets.data[0].files?.file
                        }}"
                        alt="newAssets"
                        style="width: 100px !important;"
                      />
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center fs-30 mt-3 mb-3"><b>List Assets</b></p>
          <div class="row d-flex justify-content-center">
            <div class="col-12">
              <div class="row justify-content-end mx-3 mb-3">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-plus"
                  label="New"
                  class="p-button-sm p-button-success mx-4"
                  (click)="gotoInsert()"
                ></button>
                <p-fileUpload
                  mode="basic"
                  name="myfile[]"
                  [customUpload]="true"
                  (uploadHandler)="onUpload($event)"
                  accept=".xlsx"
                  chooseLabel="Upload"
                ></p-fileUpload>
              </div>
              <div class="row justify-content-center">
                <div class="col-12">
                  <p-table
                    #dt
                    [value]="data.data"
                    [rows]="10"
                    [paginator]="true"
                    [globalFilterFields]="[
                      'assetsName',
                      'itemsName',
                      'statusesAssetsName'
                    ]"
                    [rowHover]="true"
                    dataKey="id"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true"
                  >
                    <ng-template pTemplate="caption">
                      <div class="row">
                        <div class="col-md-7 col-3">
                          <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                              type="text"
                              pInputText
                              (input)="
                                dt.filterGlobal(
                                  $any($event.target).value,
                                  'contains'
                                )
                              "
                              placeholder="Search"
                            />
                          </span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr class="text-center">
                        <th style="width: 3rem;">
                          No
                        </th>
                        <th>
                          Image
                        </th>
                        <th pSortableColumn="assetsName">
                          Assets Name
                          <p-sortIcon field="assetsName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="itemsName">
                          Item
                          <p-sortIcon field="itemsName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="statusesAssetsName">
                          Status Assets
                          <p-sortIcon field="statusesAssetsName"></p-sortIcon>
                        </th>
                        <th class="text-center">
                          Assets Expired
                        </th>
                        <th class="text-center" style="width: 13rem;">
                          Action
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-d let-rowIndex="rowIndex">
                      <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>
                          <img
                            class="items-img"
                            src="data:image/png;base64,{{ d.files?.file }}"
                            alt="img{{ rowIndex + 1 }}"
                            style="width: 50px !important;"
                          />
                        </td>

                        <td>{{ d.assetsName }}</td>
                        <td>{{ d.itemsName }}</td>
                        <td>{{ d.statusesAssetsName }}</td>
                        <td class="text-center">{{ d.assetsExpired }}</td>
                        <td class="text-center">
                          <button
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            class="p-button-sm p-button-warning mx-2"
                            (click)="gotoUpdate(d.assetsName)"
                          ></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
