<p-toast></p-toast>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-8 col-xl-8 col-12 align-center">
          <div class="card">
            <div class="card-body">
              <h4 class="text-center fs-30 m-2 mb-sm-3"><b>Employees</b></h4>
              <div class="card-body mx-md-5">
                <div class="form-group mt-4 mb-3">
                  <h5 for="fullname"><b>Full Name</b></h5>
                  <input
                    type="text"
                    id="fullname"
                    pInputText
                    class="form-control form-control-md col-12"
                    [(ngModel)]="employeesReq.employeesFullname"
                    [value]="employees?.employeesFullname"
                  />
                </div>
                <div class="form-group mt-4 mb-3">
                  <h5 for="address"><b>Address</b></h5>
                  <input
                    type="text"
                    id="address"
                    pInputText
                    class="form-control form-control-md col-12"
                    [(ngModel)]="employeesReq.employeesAddress"
                    [value]="employees?.employeesAddress"
                  />
                </div>
                <div class="form-group mt-4 mb-3">
                  <h5 for="phone"><b>Phone</b></h5>
                  <input
                    type="text"
                    id="phone"
                    pInputText
                    class="form-control form-control-md col-12"
                    [(ngModel)]="employeesReq.employeesPhoneNumber"
                    [value]="employees?.employeesPhoneNumber"
                  />
                </div>
                <div class="form-group mt-4 mb-3">
                  <h5 for="users"><b>Users</b></h5>
                  <p-dropdown
                    [options]="users"
                    [(ngModel)]="usersReq"
                    optionLabel="usersEmail"
                    [disabled]="isUpdate"
                  ></p-dropdown>
                </div>
                <div class="form-group mt-4 mb-3">
                  <h5 for="companies"><b>Companies</b></h5>
                  <p-dropdown
                    [options]="companies"
                    [(ngModel)]="companiesReq"
                    optionLabel="companiesName"
                  ></p-dropdown>
                </div>
                <div class="row d-flex mt-5 justify-content-end">
                  <div class="btn-group">
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Cancel"
                      class="p-button-sm p-button-danger mx-3"
                      (click)="back()"
                    ></button>
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Success"
                      class="p-button-sm p-button-success"
                      (click)="sumbit()"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
